.main-banner {
  padding: 5rem 1rem 6rem;
  background: var(--first-color);
  color: #FFF;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%); }
  .main-banner__content {
    position: relative; }
  .main-banner__logo {
    height: 5rem;
    display: block;
    margin: 0 auto .5rem; }
  .main-banner__hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .1; }
