html
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,'Nanum Gothic', Arial, "Lucida Grande", sans-serif !important;
}
/* Responsive básico
.container{
    width: 75%;
    max-width: 960px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;

}
.video{
    height: 0;
    padding-bottom: 56.25%;
    background: green;
    position: relative;
    > iframe,
    > video
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

- Tipo Viewport
.video{
    --unit: 2vmax;
    --width: calc(var(--unit) * 16);
    --height: calc(var(--unit) * 9);
    width: var(--width);
    height: var(--height);
    background: gray;
}
*/
// Tipo Grid 
@mixin ratio($w,$h) {
    display: grid;
    grid-template-columns: repeat($w,1fr);
    grid-template-rows: repeat($h,1fr);
    background:gray;
    position: relative;

    &::before{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
.video{
    @include ratio(16,9);
    > iframe,video{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.container{
    width: 75%;
    max-width: 960px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;

}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.images{
    @include ratio(16,9);
    background: red;
    background: url("https://cdn.pocket-lint.com/r/s/1200x/assets/images/147767-tv-feature-what-order-should-you-watch-all-the-star-wars-films-image1-1wdfjceytb.jpg") center / cover;
    @media screen and (min-width: 640px){
        background: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg") center / cover;
    }
}
.center-align
{
    text-align: center;
}