$max-width: 1200px;
$header-height: 4rem;
$border-color: #CCC;
$text-color: #52575A;
$dark-color:  #141618;

$breakpoints: (
    l: 640px
)

// Paleta de colores
:root{
    --first-color: #007BDF;
}

// Variables de apilamiento (z-index)

:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}