.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.main-menu_item{
    padding: 1rem;
}
.main-menu_link{
    color: $text-color;
    margin-left: 1rem;
}
.main-nav{
    position: fixed;
    height: calc(100vh - #{$header-height});
    width: 80vw;
    background: $dark-color;
    top: $header-height;
}

.main-menu-toggle{
    $color: $dark-color;
    width: 2.2rem;
    height: 1.6rem;
    background: linear-gradient($color 20%,transparent 20%,transparent 40%,
    $color 40%, $color 60%,transparent 60%, transparent 80%, $color 80%);
    cursor: pointer;
}